<script>
    // quick and dirty way to convert pgn's in a game into a board.
    ( function( $ ){

        $( ".pgn-game" ).each( function(){
            var $pgnDiv = $( this );

            $.get( $pgnDiv.data( "url" ), function( pgn ){
                var containerId = "_" + Math.round(new Date().getTime() + (Math.random() * 100));
                $pgnDiv.after( $( '<div class="pgn-viewer-game" id="' + containerId + '"></div>' ) );

                var board = PGNV.pgnView( containerId, {
                    pgn: pgn,
                    theme: 'brown',
                    pieceStyle: 'wikipedia',
                    showCoords: false,
                    boardSize: '400px',
                    width: '100%',
                    layout: 'left'
                });
            } );
        } );

        $( ".fen-position" ).each( function(){
            var $pgnDiv     = $( this )
              , fen         = $pgnDiv.text()
              , containerId = "_" + Math.round(new Date().getTime() + (Math.random() * 100));

            $pgnDiv.after( $( '<div class="pgn-viewer-game pgn-viewer-position" id="' + containerId + '"></div>' ) );
            $pgnDiv.remove();

            PGNV.pgnBoard( containerId, {
                position: fen,
                theme: 'sportverlag',
                pieceStyle: 'wikipedia',
                showCoords: true,
                coordsInner: false,
                boardSize: '300px',
                width: '100%',
                layout: 'top',
                resizable:false
            });

        } );

        $( ".datatable" ).DataTable();

    } )( jQuery );
</script>