{% assign cachebust = site.time | date:'?v=%s' %}

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://mliebelt.github.io/pgn-viewer/lib/dist.js"></script>
<script src="https://cdn.datatables.net/2.1.6/js/dataTables.min.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">


<link rel="stylesheet" href="https://cdn.datatables.net/2.1.6/css/dataTables.dataTables.css">

<link href="{{ '/assets/images/logo/favicon.svg' | relative_url | append: cachebust }}" type="image/svg" rel="shortcut icon" />