{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign member = site.data.mkmembers | where: "slug", author %}
{% assign member = member[0] %}
{% assign author = site.data.authors[author] | default: author %}
{% capture defaulthome %}/members/{{ member.slug }}.html{% endcapture %}

<div itemscope itemtype="https://schema.org/Person" class="h-card">

  {% if author.avatar %}
    <div class="author__avatar">
        <a href="{{ author.home | default: defaulthome | absolute_url }}">
          <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image" class="u-photo">
        </a>
    </div>
  {% endif %}

  <div class="author__content">
    <h3 class="author__name p-name" itemprop="name">
      <a class="u-url" rel="me" href="{{ author.home | default: '/' | absolute_url }}" itemprop="url">{{ author.name }}</a>
    </h3>
    {% if author.bio %}
      <div class="author__bio p-note" itemprop="description">
        {{ author.bio | markdownify }}
      </div>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
      {% if member.slug != blank %}
        <li><a href="{{ defaulthome }}"><i class="fa fa-fw fa-home" aria-hidden="true"></i><span class="label">MK Profile</span></a></li>
      {% endif %}
      {% if member.ecfcode != blank %}
        <li><a href="https://rating.englishchess.org.uk/v2/new/player.php?ECF_code={{ member.ecfcode }}"><i class="fa fa-fw fa-chart-line" aria-hidden="true"></i><span class="label">English Chess Federation</span></a></li>
      {% endif %}

      {% if author.links %}
        {% for link in author.links %}
          {% if link.label and link.url %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer me"{% if link.url contains 'http' %} itemprop="sameAs"{% endif %}><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i><span class="label">{{ link.label }}</span></a></li>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if author.lichess %}
        <li>
          <a href="https://lichess.org/@/{{ author.lichess }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fa fa-fw fa-chess-knight" aria-hidden="true"></i><span class="label">lichess</span>
          </a>
        </li>
      {% endif %}

      {% if author.chesscom %}
        <li>
          <a href="https://www.chess.com/member/{{ author.chesscom }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fa fa-fw fa-chess-pawn" aria-hidden="true"></i><span class="label">chess.com</span>
          </a>
        </li>
      {% endif %}

      {% include author-profile-custom-links.html %}
    </ul>
  </div>
</div>
