.masthead {
	background-color: $mk-dark-brown;

	.greedy-nav {
		background-color: $mk-dark-brown;

		a.site-title {
			padding: 70px 0 0 0;
			height: 0;
			background: url("/assets/images/logo/header-logo3.svg") no-repeat;
			background-size: 292px 70px;
			min-width: 292px;
			overflow: hidden;
		}
	}

	.masthead__menu-item a {
		color: $mk-white-platinum;
	}
}

.page__hero--overlay {
	margin-bottom: 0;
}

.page__content {
	p, li, blockquote, address, dd, dt {
		font-size: 0.7em;
	}

	address {
		margin-bottom: 1.3em;
	}
}

.page__footer {
	color: $mk-white-platinum;
}

table {
	display: table;

	tr.active {
		td, th {
			background-color: $mk-light-brown;
			font-weight     : bold;
		}
	}

	.muted {
		color: $muted-text-color;
	}

	tr.muted {
		td, th {
			font-style: italic;
		}

	}

	td .active {
		font-weight: bold;
	}
}

.text-centered {
	text-align: center;
}

ul.toc__menu {
	li {
		font-size: .8em;

		li {
			font-size: 1em;
		}
	}
}

.page__content > h2:first-child,
.page__content > .sidebar__right:first-child + h2 {
	margin-top: 0;
}

.navicon, .navicon::before, .navicon::after {
	background: $mk-white-platinum;
}

.greedy-nav .hidden-links {
	background: $mk-dark-brown;
}

dl.dl-horizontal {
  display: grid;
  grid-template-columns: max-content auto;

  dt {
  	margin-top: 0.5em;
	grid-column-start: 1;
  }

  dt + dd {
  	margin-top: 0.5em;
  }

  dd {
  	margin-top: 0.2em;
	grid-column-start: 2;
  }
}

.layout--all-play-all, .layout--game {
	#main > article.page {
		padding-right: 0;
	}
	#main > article.page:first-child {
		width: 100%;
		float: none;
	}
}

table.all-play-all {
	td, th {
		text-align: center;
		font-size: 0.8em;
	}

	.player-name {
		text-align: right;
		padding-right: 1em; // ensure some spacing
	}

	.all-play-all-result {
		display: block;
		padding: 0.2em;
		border: 1px solid $mk-eerie-black;
		font-size: 0.75em;
	}
	.all-play-all-result-w {
		background-color: $mk-white-platinum;
	}
	.all-play-all-result-b {
		background-color: $mk-eerie-black;
		color: $mk-white-platinum;
	}

	.played {
		color: $muted-text-color;
	}

	.score {
		text-align: left;
		padding-left: 2em;
	}

	tfoot {
		td {
			border-bottom: none;
		}
		.player-name-vertical {
			writing-mode: vertical-rl;
			vertical-align: top;
		}
	}
}

.pgn-viewer-game.pgnvjs {
	/* pgn viewer has some weird font styles, trying to fix them
	   here
	 */
	.moves {
		font-weight: normal;
		font-family: $sans-serif;
		font-size: 0.6em;

		.comment {
			border-bottom: none;
			color: $muted-text-color;
		}

		move-number {
			display: inline-block;
			clear: both;
		}

		.variation move-number {
			display: inline;
		}
	}

}

div.dt-container {
	.dt-length, .dt-search, .dt-info, .dt-processing, .dt-paging {
		font-size: 0.65em;
	}

	.dt-length, .dt-search {
		label, select {
			display: inline-block;
		}

		label {
			margin: 0 0.5em;;
		}
	}

	.dt-search {
		position: relative;

		&:before {
	        font-family: 'FontAwesome';
	        position: absolute;
	        left: 10px;
	        top: 2px;
	        content: "\f002";
	        color: $muted-text-color;
    	}
		label {
			display: none;
		}

		.dt-input {
			padding-left: 2em;
		}
	}
}