.masthead {
	background-color: $mk-dark-brown;

	.greedy-nav {
		background-color: $mk-dark-brown;

		a.site-title {
			padding: 80px 0 0 0;
			height: 0;
			background: url("/assets/images/logo/logo.svg") no-repeat;
			background-size: 230px 80px;
			overflow: hidden;
			min-width: 230px;
		}
	}

	.masthead__menu-item a {
		color: $mk-white-platinum;
	}
}

.page__hero--overlay {
	margin-bottom: 0;
}

.page__content {
	p, li, blockquote, address, dd, dt {
		font-size: 0.7em;
	}

	address {
		margin-bottom: 1.3em;
	}
}

.page__footer {
	color: $mk-white-platinum;
}

table {
	display: table;

	tr.active {
		td, th {
			background-color: $mk-light-brown;
			font-weight     : bold;
		}
	}

	.muted {
		color: $muted-text-color;
	}

	tr.muted {
		td, th {
			font-style: italic;
		}

	}

	td .active {
		font-weight: bold;
	}
}

.text-centered {
	text-align: center;
}

ul.toc__menu {
	li {
		font-size: .8em;

		li {
			font-size: 1em;
		}
	}
}

.page__content > h2:first-child,
.page__content > .sidebar__right:first-child + h2 {
	margin-top: 0;
}

.navicon, .navicon::before, .navicon::after {
	background: $mk-white-platinum;
}

.greedy-nav .hidden-links {
	background: $mk-dark-brown;
}

dl.dl-horizontal {
  display: grid;
  grid-template-columns: max-content auto;

  dt {
  	margin-top: 0.5em;
	grid-column-start: 1;
  }

  dt + dd {
  	margin-top: 0.5em;
  }

  dd {
  	margin-top: 0.2em;
	grid-column-start: 2;
  }
}

.layout--all-play-all {
	#main > article.page {
		padding-right: 0;
	}
	#main > article.page:first-child {
		width: 100%;
		float: none;
	}
}

table.all-play-all {
	td, th {
		text-align: center;
		font-size: 0.8em;
	}

	.player-name {
		text-align: right;
		padding-right: 1em; // ensure some spacing
	}

	.all-play-all-result {
		display: block;
		padding: 0.2em;
		border: 1px solid $mk-eerie-black;
		font-size: 0.75em;
	}
	.all-play-all-result-w {
		background-color: $mk-white-platinum;
	}
	.all-play-all-result-b {
		background-color: $mk-eerie-black;
		color: $mk-white-platinum;
	}

	.played {
		color: $muted-text-color;
	}

	.score {
		text-align: left;
		padding-left: 2em;
	}

	tfoot {
		td {
			border-bottom: none;
		}
		.player-name-vertical {
			writing-mode: vertical-rl;
			vertical-align: top;
		}
	}
}