.masthead {
	background-color: $mk-dark-brown;

	.greedy-nav {
		background-color: $mk-dark-brown;

		a.site-title {
			padding: 80px 0 0 0;
			height: 0;
			background: url("/assets/images/logo/logo.svg") no-repeat;
			background-size: 230px 80px;
			overflow: hidden;
		}
	}

	.masthead__menu-item a {
		color: $mk-white-platinum;
	}
}

.page__hero--overlay {
	margin-bottom: 0;
}

.page__content {
	p, li, blockquote, address, dd, dt {
		font-size: 0.7em;
	}

	address {
		margin-bottom: 1.3em;
	}
}

.page__footer {
	color: $mk-white-platinum;
}