---
layout: single
---

{{ content }}

{% if page.white.size > 0 %}
<div class="notice--info">
	<dl class="dl-horizontal">
		{% if page.event.size > 0 %}
			<dt>Event:</dt>
			<dd>
				{% if page.eventlink.size > 0 %}
					<a href="{{ page.eventlink }}">
				{% endif %}
				{{ page.event }}
				{% if page.eventlink.size > 0 %}
					</a>
				{% endif %}
			</dd>
		{% endif %}
		{% if page.date.size > 0 %}
			<dt>Date:</dt>
			<dd>
				{{ page.date | date: "%-d %B %Y" }}
			</dd>
		{% endif %}
		<dt>White:</dt>
		<dd>
			{% include snippets/member_link.html value=page.white field="slug" %}
			{% if page.whiteelo.size > 0 %}
				({{ page.whiteelo }})
			{% endif %}
		</dd>
		<dt>Black:</dt>
		<dd>
			{% include snippets/member_link.html value=page.black field="slug" %}
			{% if page.blackelo.size > 0 %}
				({{ page.blackelo }})
			{% endif %}
		</dd>
		<dt>Result:</dt>
		<dd>{{ page.result }}</dd>
		{% if page.pgn.size > 0 %}
			<dt>PGN:</dt>
			<dd><a href="{{ page.pgn | relative_url }}">Download PGN</a></dd>
		{% endif %}
	</dl>
</div>
{% endif %}

{% if page.pgn.size > 0 %}
  <div class="pgn-game" data-url="{{ page.pgn }}"></div>
{% else %}
<p><em>No PGN for this game has been uploaded.</em></p>
{% endif %}