---
layout: single
---

{% assign member = site.data.mkmembers | where:"slug",page.member | first %}

{% capture keyinfo %}
	{% if member.ecfcode != blank %}

<ul class="social-icons">
    <li><a href="https://rating.englishchess.org.uk/v2/new/player.php?ECF_code={{ member.ecfcode }}"><i class="fa fa-fw fa-chart-line" aria-hidden="true"></i> <span class="label">English Chess Federation: {{ member.ecfcode }}</span></a></li>
	{% for role in site.data.mkchessclub.officers %}
		{% if role.members contains member.slug %}
			<li><a href="/about/officers.html"><i class="fa fa-fw fa-user" aria-hidden="true"></i> <span class="label">{{ role.role }}</span></a></li>
		{% endif %}
	{% endfor %}
</ul>
	{% endif %}
{% endcapture %}
{% if content.size > 0 or keyinfo.size > 0 %}
<div class="notice--info">
	<h2 id="key-info">Key info</h2>
{{ keyinfo }}
{{ content }}
</div>
{% endif %}


{% include snippets/player_league_info.html member=member %}
{% include snippets/player_internal_info.html member=member %}
{% include snippets/player_honour_roll.html member=member %}
{% include snippets/player_games.html member=member %}
{% include snippets/player_posts.html member=member %}