---
layout: single
---

{% assign player = site.data.mkplayers[page.player] %}

{{ content }}

<h2>Essential info</h2>
<p><em>This is just a demo of the concept of using "dynamic" data.</em></p>
<dl>
  <dt>Name</dt>
  <dd>{{ player.name }}</dd>
  <dt>ECF Code</dt>
  <dd>
    <a rel="ECF Rating Page" href="https://rating.englishchess.org.uk/v2/new/player.php?ECF_code={{ player.ecfcode }}" title="{{ player.ecfcode }}">
      {{ player.ecfcode }}
    </a>
  </dd>

  <dt>Title</dt>
  <dd>{{ player.title | default: "<em>Not a titled player, yet</em>" }}</dd>

  <dt>Standard rating</dt>
  <dd>{{ player.standardrating | default: "<em>No rating</em>" }}</dd>

  <dt>Rapid rating</dt>
  <dd>{{ player.rapidrating | default: "<em>No rating</em>" }}</dd>

  <h2>TODO: show game history, etc.</h2>
</dl>