---
layout: single
---

{% include scripts/teamseasonloader.liquid %}

<h2>{{ page.title }} - {{ season }} Season</h2>
{{ content }}

<h2 id="team-members">Team members</h2>

{% unless page.teamintro == blank %}
  <p>{{ page.teamintro}}</p>
{% endunless %}
{% include snippets/team_members.html %}

{% unless leaguetable %}
  <h2 id="league-table">League table</h2>
  <p><em class="muted">We do not yet have any data for this league.</em></p>

{% else %}
  <h2 id="league-table">League table</h2>
  {% include snippets/league_table.html leaguetable=leaguetable activeteam=leaguename %}

  <h2 id="fixtures">Fixtures</h2>
  {% include snippets/team_fixture_list.html fixtures=fixtures activeteam=leaguename includematchlinks=true %}

  <h2 id="full-results">Full results</h2>
  {% for fixture in fixtures %}
    {% if fixture.hometeam == leaguename or fixture.awayteam == leaguename %}
      {% if fixture.result != "0 - 0" %}
        {% assign games = matches | where:"fixture",fixture.id %}
        {% if games.size > 0 %}
          {% include snippets/team_match_result.html fixture=fixture games=games %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

{% endunless %}