{% assign players = include.results.players %}
{% assign results = include.results.pairings %}
{% assign playercount = players.size %}
{% assign includeplace = players[0].place %}
{% assign includerating = players[0].rating %}

<table class="all-play-all">
	<thead>
		<tr>
			{% if includeplace %}
				<th>Place</th>
			{% endif %}
			<th class="player-name">Player</th>
			{% if includerating %}
				<th>Rating</th>
			{% endif %}
			<th colspan="{{ playercount }}">Results</th>
			<th class="score">Score</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="2" class="dead-space">&nbsp;</td>
			{% for player in players %}
				<td class="player-name-vertical">
					{% include snippets/member_link.html value=player.id field="slug" %}
				</td>
			{% endfor %}
			<td class="dead-space">&nbsp;</td>
		</tr>
	</tfoot>
	<tbody>
		{% for player in players %}
			<tr>
				{% if includeplace %}
					<td>{{ player.place }}</td>
				{% endif %}
				<td class="player-name">
					{% include snippets/member_link.html value=player.id field="slug" %}
				</td>
				{% if includerating %}
					<td>{{ player.rating }}</td>
				{% endif %}
				{% for playerb in players %}
					{% include snippets/all_play_all_result.html playera=player.id playerb=playerb.id results=results %}
				{% endfor %}
				<td class="score">
					{% if player.score %}
						{% include snippets/rendered_score.html score=player.score %}
						{% if player.played %}
							<span class="played">/ {{ player.played }}</span>
						{% endif %}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
