{% assign honours = site.data.results.honourroll %}
{% assign currentseason = "" %}
{% assign currentevent = "" %}
{% assign tableopen = false %}
{% for honour in honours %}
{% assign honourseason = honour.season | append: "" | strip %}
{% assign honourevent = honour.event | append: "" | strip %}
{% if honourseason == "" or honourevent == "" %}
{% continue %}
{% endif %}
{% if honourseason != currentseason or honourevent != currentevent %}
{% if tableopen %}
</tbody>
</table>
{% endif %}
{% if honourseason != currentseason %}
{% assign currentseason = honourseason %}
<h2 id="season-{{ currentseason }}">{{ currentseason }} season</h2>
{% endif %}
{% assign currentevent = honourevent %}
<h3 id="season-{{ currentseason }}-event-{{ currentevent | slugify }}">{{ currentevent }}</h3>
<table>
<thead>
<tr>
<th>Place</th>
<th>Player</th>
</tr>
</thead>
<tbody>
{% assign tableopen = true %}
{% endif %}
<tr>
<td>{{ honour.place }}</td>
<td>{% include snippets/member_link.html field="name" value=honour.player %}</td>
</tr>
{% endfor %}
{% if tableopen %}
</tbody>
</table>
{% endif %}
