{% assign activeinternaseason = site.data.mkchessclub.competitions.internal | where:"active",true | first %}
{% if activeinternaseason.size > 0 %}
	{% assign seasonyear = activeinternaseason.season | append: "" %}
	{% assign pendinggames = "" %}
	{% assign results = "" %}

	{% for t in site.data.results.internal[ seasonyear ] %}
		{% assign tourneyid = t[0] %}
		{% assign tourney = t[1] %}
		{% if tourney.pairings.size > 0 %}
			{% assign playerpairings = tourney.pairings | where:"white",include.member.slug %}
			{% assign playerblackpairings = tourney.pairings | where:"black",include.member.slug %}
			{% assign playerpairings = playerpairings | concat: playerblackpairings | sort:"date" %}

			{% for pairing in playerpairings %}
				{% if pairing.result == "tbc" %}
					{% capture pendingresult %}
<tr>
	<td><a href="{{ tourney.meta.url }}">{{ tourney.meta.name }}</a></td>
	<td class="text-right">{% include snippets/member_link.html value=pairing.white field="slug" %}</td>
	<td class="swiss-result"><span class="muted">vs</span></td>
	<td>{% include snippets/member_link.html value=pairing.black field="slug" %}</td>
</tr>
					{% endcapture %}
					{% assign pendinggames = pendinggames | append: pendingresult %}
				{% elsif pairing.result.size > 0 %}
					{% capture result %}
<tr>
	<td><a href="{{ tourney.meta.url }}">{{ tourney.meta.name }}</a></td>
	<td class="text-right">{% include snippets/member_link.html value=pairing.white field="slug" %}</td>
	<td class="swiss-result">{% include snippets/result.html result=pairing.result %}</td>
	<td>{% include snippets/member_link.html value=pairing.black field="slug" %}</td>
</tr>
					{% endcapture %}
					{% assign results = results | append: result %}
				{% endif %}
			{% endfor %}

		{% else %}
			{% for g in tourney %}
				{% assign group = g[1] %}
				{% if group.pairings.size > 0 %}
					{% assign playerpairings = group.pairings | where:"white",include.member.slug %}
					{% assign playerblackpairings = group.pairings | where:"black",include.member.slug %}
					{% assign playerpairings = playerpairings | concat: playerblackpairings | sort:"date" %}

					{% for pairing in playerpairings %}
						{% if pairing.result == "tbc" %}
							{% capture pendingresult %}
<tr>
	<td><a href="{{ tourney.meta.url }}">{{ tourney.meta.name }}</a></td>
	<td class="text-right">{% include snippets/member_link.html value=pairing.white field="slug" %}</td>
	<td class="swiss-result"><span class="muted">vs</span></td>
	<td>{% include snippets/member_link.html value=pairing.black field="slug" %}</td>
</tr>
							{% endcapture %}
							{% assign pendinggames = pendinggames | append: pendingresult %}
						{% elsif pairing.result.size > 0 %}
							{% capture result %}
<tr>
	<td><a href="{{ tourney.meta.url }}">{{ tourney.meta.name }}</a></td>
	<td class="text-right">{% include snippets/member_link.html value=pairing.white field="slug" %}</td>
	<td class="swiss-result">{% include snippets/result.html result=pairing.result %}</td>
	<td>{% include snippets/member_link.html value=pairing.black field="slug" %}</td>
</tr>
							{% endcapture %}
							{% assign results = results | append: result %}
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
{% endif %}

{% if pendinggames.size > 0 or results.size > 0 %}
<h2 id="internal-competions">Internal competitions, {{ seasonyear }}</h2>

	{% if results.size > 0 %}
<h3 id="results-internal">Results</h3>
<table class="swiss-results-table">
	<thead>
		<tr>
			<th>Tournament</th>
			<th class="text-right">White</th>
			<th class="swiss-result">Result</th>
			<th>Black</th>
		</tr>
	</thead>
	<tbody>
		{{ results }}
	</tbody>
</table>
	{% endif %}
	{% if pendinggames.size > 0 %}
<h3 id="pending-internal">Pending games</h3>
<p>The following internal competition games are pending results for {% include snippets/member_link.html value=include.member.slug field="slug" %}.</p>
<table class="swiss-results-table">
	<thead>
		<tr>
			<th>Tournament</th>
			<th class="text-right">White</th>
			<th class="swiss-result">vs</th>
			<th>Black</th>
		</tr>
	</thead>
	<tbody>
		{{ pendinggames }}
	</tbody>
</table>
	{% endif %}
{% endif %}
