{% comment %}
This include takes care of rendering all of the details of a swiss tournament. It expects
include.data to contain "rounds", "players" and "pairings". For example, see:
_data/results/internal/2024/openswiss/ directory.

NB. Lack of indentation here due to how the template is included and rendered in markdown. Indentation
gets treated as a code quote rather than actual markup.
{% endcomment %}

{% assign rounds = include.data.rounds %}
{% assign completerounds = rounds | where:"complete",true %}
{% assign activeround = rounds | where:"active",true | first %}
{% assign players = include.data.players %}
{% assign allpairings = include.data.pairings %}
{% assign pendinggames = allpairings | where:"round",activeround.number | where:"result","tbc" %}

{% if include.director.size > 0 or include.timecontrol.size > 0 %}
<dl class="dl-horizontal">
	{% if include.director.size > 0 %}
		<dt>Tournament director:</dt>
		<dd>
			{% include snippets/member_link.html value=include.director field="slug" %}
		</dd>
	{% endif %}
	{% if include.timecontrol.size > 0 %}
		<dt>Time control:</dt>
		<dd>{{ include.timecontrol }}</dd>
	{% endif %}
</dl>
{% endif %}


{% comment %} FINAL standings IF all rounds complete {% endcomment %}
{% if completerounds.size == rounds.size %}
<h3 id="final-standings">Final standings</h3>
{% include snippets/swiss_standings.html players=players %}

{% comment %} Show pending games if not complete and we have any {% endcomment %}
{% elsif activeround.size and pendinggames.size > 0 %}

<h3 id="pending-results">Pending results for round {{ activeround.number }}</h3>
The following results are pending for round {{ activeround.number }}.
Please arrange your games by **{{ activeround.deadline | date: "%-d %B, %Y" }}**
and contact the tournament director if there any problems meeting the deadline.
{% include snippets/swiss_results_table.html round=activeround pairings=pendinggames players=players result="vs" %}
{% endif %}

{% comment %} Drop into another include to output the table for each round {% endcomment %}
{% for round in rounds %}
{% assign pairings = allpairings | where: "round",round.number %}
{% include snippets/swiss_round.html players=players pairings=pairings round=round %}
{% endfor %}


{% comment %} IF we're not complete, output the current standings {% endcomment %}
{% if completerounds.size < rounds.size %}
<h3 id="standings">Standings</h3>

The current standings are as follows:

{% include snippets/swiss_standings.html players=players %}
{% endif %}
