{% if include.director.size > 0 or include.timecontrol.size > 0 or include.rules.size > 0 %}
<div class="notice--info">
	<dl class="dl-horizontal">
		{% if include.director.size > 0 %}
			<dt>Tournament director:</dt>
			<dd>
				{% include snippets/member_link.html value=include.director field="slug" %}
			</dd>
		{% endif %}
		{% if include.timecontrol.size > 0 %}
			<dt>Time control:</dt>
			<dd>{{ include.timecontrol }}</dd>
		{% endif %}
		{% if include.rules.size > 0 %}
			<dt>Tournament rules:</dt>
			<dd>{{ include.rules | markdown }}</dd>
		{% endif %}
		<dt>Results reporting:</dt>
		<dd>Report your results to <a href="mailto:{{ 'results@miltonkeyneschessclub.co.uk' | encode_email }}">results@miltonkeyneschessclub.co.uk</a>
			stating the date of the match, tournament name, pairing, colours and result.
		</dd>
	</dl>
</div>
{% endif %}